.main-sales {
  margin-right: 20px;
  border: 1px solid #cccccc;
  padding-left: 30px;
  padding-right: 30px;

  &__breadcrumb {
    color: #0072be;
  }

  &__breadcrumb a {
    text-decoration: none;
    color: #0072be;
  }

  &__more-sales {
    font-size: 18px;
  }
}