
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 6px 25px;
  align-items: center;
}

.navigation--black {
    background-color: black;
}

.navigation--grey {
    background-color: #333333;
}